<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <h1 th:text="${album.title}">Album</h1>
        <h2 th:text="${album.artist.name}">Artist</h2>
        <h3>Styles associated</h3>
            <ul>
                <li th:each="styletag: ${albumStyles}">
                    <a th:href="@{/styletags/{id}(id=${styletag.id})}" th:text="${styletag.name}">Style tag</a>
                     <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <form th:action="@{/styletags/{id}(id=${styletag.id})}" th:method="PUT">
                            <input type="hidden"  name="albumId"   th:value="${album.id}"/>
                            <input type="submit" value="Remove tag from this Album"/>
                        </form>
                    </div>
                </li>
            </ul>
        <h3>Comments</h3>
            <ul>
                <li th:each="comment: ${comments}">
                    <span th:text="${comment.content}">Comment</span>
                    ~ added by <span th:text="${comment.account.username}">Added by</span>
                    (<span th:text="${comment.date}">date</span>)
                    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                        <form th:action="@{/comments/{id}(id=${comment.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form>
                    </div>
                </li>
            </ul>
        
        <h4>Add comment</h4>
        <form th:action="@{/albums/{id}/comment(id=${album.id})}" method="POST">
            <input type="text" name="content"/>
            <input type="submit" value="Add comment"/>
        </form>
     
        <h4>Tag album</h4>
        <form th:action="@{/albums/{id}(id=${album.id})}" method="POST">
            <select name="id">
                <option th:each="styleTag : ${styleTags}" th:value="${styleTag.id}" th:text="${styleTag.name}"></option>
            </select>
            <input type="submit" value="Tag album!"/>
        </form>
        
        <h4>Add new tag to tag list!</h4>
        <form action="/styletags/new" method="POST">
            <input type="text" name="name"/>
            <input type="hidden"  name="albumId"   th:value="${album.id}"/>
            <input type="submit" value="Add new tag!"/>
        </form>
        
        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <form th:action="@{/albums/{id}(id=${album.id})}" th:method="DELETE"><input type="submit" value="Delete"/></form>
        </div>
    </body>
</html>
