<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Style tags</title>
    </head>
    <body>
        <h2>Style tags</h2>
        <ul>
            <li th:each="styletag: ${styletags}">
                <a th:href="@{/styletags/{id}(id=${styletag.id})}" th:text="${styletag.name}">Style tag</a>
            </li>
        </ul>
        
        <!-- navigation -->
        <p>
            <a href="/artists" >All artists</a> | <a href="/albums" >All albums</a>
        </p>
        
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
            <form action="#" th:action="@{/logout}" method="post">					
                <input type="submit" value="Logout" />
            </form>
        </div> 
    </body>
</html>
